<template>
    <div>
        <b-container fluid class="containerX">
            <h2>Форма ввода параметров</h2>
            <b-form class="check inner">
                <!-- Trainginblock -->
                <b-form-group label="Пол" v-slot="{ ariaDescribedby }">
                    <b-form-checkbox-group id="checkbox-group-1" v-model="selected" :options="gender"
                        :aria-describedby="ariaDescribedby" name="flavour-1"></b-form-checkbox-group>
                </b-form-group>

                <!-- Trainginblock -->
                <!-- 
                <b-form-checkbox-group class="checkboxes flex-row justify-content-center mb-3" :options="gender"
                    value-field="item" text-field="name" disabled-field="notEnabled" v-model="genderMass">
                </b-form-checkbox-group> -->

                <b-form-group id="input-group-1" label="Возраст:" label-for="input-1"
                    description="We'll never share your email with anyone else.">
                    <b-form-input id="input-1" v-model="old" type="email" placeholder="Введите ваш возраст" required>
                    </b-form-input>
                </b-form-group>

                <b-form-group id="input-group-1" label="ИМТ:" label-for="input-1"
                    description="We'll never share your email with anyone else.">
                    <b-form-input class="mt-1" id="input-1" v-model="height" type="text" placeholder="Введите ваш рост"
                        required>
                    </b-form-input>
                    <b-form-input class="mt-1" id="input-2" v-model="weight" type="text" placeholder="Введите ваш вес"
                        required>
                    </b-form-input>
                </b-form-group>

                <b-form-checkbox id="checkbox-1" v-model="statusSport" name="checkbox-1" value="true"
                    unchecked-value="not_accepted">
                    занимаетесь ли в спортом?
                </b-form-checkbox>
                <b-form-checkbox id="checkbox-2" v-model="statusHeartAttack" name="checkbox-2" value="true"
                    unchecked-value="not_accepted">
                    сердечные заболевания(если имеются)
                </b-form-checkbox>
                <b-form-checkbox id="checkbox-3" v-model="statusCripple" name="checkbox-3" value="true"
                    unchecked-value="not_accepted">
                    инвалидность(если есть)
                </b-form-checkbox>
                <router-link
                    :to="{path: '/trainings', name: 'Trainings', query: {cripple:statusCripple, old:old, imt:imt, selected:selected, sport:statusSport, heart:statusHeartAttack }}">
                    <b-button class="mt-1" pill variant="primary">Подтвердить</b-button>
                </router-link>
            </b-form>
        </b-container>
    </div>
</template>

<script>
    export default {
        name: 'Form',
        data() {
            return {
                old: 10,
                weight: null,
                height: null,
                genderMass: null,
                statusSport: false,
                statusHeartAttack: false,
                statusCripple: false,
                selected: [],
                options: [{
                        item: 'A',
                        name: 'занимаетесь ли в спортом?'
                    },
                    {
                        item: 'B',
                        name: 'сердечные заболевания(если имеются)'
                    },
                    {
                        item: 'D',
                        name: 'инвалидность(если есть)',
                    }
                ],

                gender: [{
                        text: 'муж',
                        value: 'M'
                    },
                    {
                        text: 'жен',
                        value: 'F'
                    }
                ]
            }
        },
        computed: {
            imt: function () {

                return Math.round(+this.weight / (+this.height / 100) ** 2)

            }
        }
    }
</script>

<style scoped>
    .check {
        width: 50%;
        background-color: rgb(22, 20, 20);
        border-radius: 50px;
        padding: 40px;
    }

    .containerX {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-image: url(https://blog.spoonflower.com/wp-content/uploads/2019/04/SF-WDC-May19-Graphics-Fitness-blog.jpg);
        background-size: cover;
    }

    .checkboxes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .containerX:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
        z-index: 2;
    }

    .inner {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 3;
        text-align: center;
        padding: 50px;
        color: whitesmoke;
    }

    h2 {
        color: white;
        z-index: 3;
    }
</style>