<template>
  <div class="home">
    <div class="inner">
    <h1>This is the main page</h1>
    <router-link class="btn" to="/form"><b-button pill variant="primary"><div>Подобрать тренировку</div></b-button></router-link>
    <router-link class="btn" to="/create"><b-button pill variant="primary"><div>Создать программу</div></b-button></router-link>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'Home',
 
}
</script>


<style scoped>
  .home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://blog.spoonflower.com/wp-content/uploads/2019/04/SF-WDC-May19-Graphics-Fitness-blog.jpg);
    background-size: cover;
  }
  .btn{
    padding: 10px;
    width: 100%;
  }

  .btn div{
    margin-top: 1px;
  }

  .home:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 2;
}

.inner {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
  padding: 50px;  
}
</style>
