<template>
    <div>
        <b-container fluid class="containerX">
            <h2>Создание программы тренировок</h2>
            <b-form class="b-form inner">
                
                <div class="d-flex justify-content-center my-3">
                    <b-form-input class="b-form-input" v-model="text" placeholder="Введите название"></b-form-input>
                </div>
                <div>
                    <textarea class="b-form-textarea" name="desc" id="desc" cols="30" rows="4.4" placeholder="Описание"></textarea>
                </div>
                <div class="py-3">
                    Выберите для кого программа:
                    <select v-model="selected">
                        <option disabled value="">Выберите один из вариантов</option>
                        <option>только для мужчин</option>
                        <option>только для женщин</option>
                        <option>для всех</option>
                    </select>
                </div>
                <div class="age d-flex flex-column align-items-center">
                    <div class="pb-5">Возраст:</div>
                    <vue-range-slider v-model="age" :width="width"></vue-range-slider>

                </div>
                <div class="age d-flex flex-column align-items-center">
                    <div class="pb-5">ИМТ:</div>
                    <vue-range-slider :min="min" :max="max" v-model="ivt" :width="width"></vue-range-slider>
                </div>

                <b-button class="b-button"  variant="primary" @click="addImts">add</b-button>

                <div class="list pt-5 d-flex flex-column justify-content-center align-items-center" v-for="(item, i) in imts" :key="i">

                    <vue-range-slider :min="item.min" :max="item.max" v-model="item.value" :width="width">
                    </vue-range-slider>
                    <button @click="removeItem(i)">remove</button>

                </div>
                
                <b-form-checkbox-group class="checkboxes mb-3" v-model="selected" :options="options" value-field="item"
                    text-field="name" disabled-field="notEnabled">
                </b-form-checkbox-group>
                
                <b-button class="b-button" variant="primary">Создать</b-button>
            </b-form>
        </b-container>
    </div>
</template>

<script>
    import 'vue-range-component/dist/vue-range-slider.css'
    import VueRangeSlider from 'vue-range-component'
    export default ({
        data() {
            return {
                selected: '',
                visible: false,
                age: [0, 100],
                ivt: [16, 40],
                imts: [],
                width: "450px",
                 options: [{
                        item: 'A',
                        name: 'занимается ли спортом'
                    },
                    {
                        item: 'B',
                        name: 'с сердечными заболеваниями'
                    },
                    {
                        item: 'C',
                        name: 'с инвалидностью',
                    }
                ],
            }
        },
        methods: {
            removeItem(i) {
                this.imts.splice(i, 1)

            },
            addImts() {
                this.imts.push({
                    min: 0,
                    max: 100,
                    label: '111',
                    value: [0, 100]

                })

            },
            takeId() {
                if (this.visible === false) {
                    this.visible = true
                } else {
                    this.visible = false
                }

            }
        },
        components: {
            VueRangeSlider
        },
        created() {
            this.min = 16
            this.max = 40
        }

    })
</script>

<style scoped>

    .list {
        display: flex;
        justify-content: center;
    }

    .containerX {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-image: url(https://tvoykrasnogorsk.ru/wp-content/uploads/2017/12/223-1.jpg);
        background-size: cover;
        align-items: center;
    }

    .containerX:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .6);
        z-index: 2;
    }


    .b-form-input {
        width: 60%;
    }

    .b-form-textarea{
        width: 60%;
    }

    .inner {
        position: relative;
        z-index: 3;
        text-align: center;
        padding: 30px;
        color: whitesmoke;
    }

    .b-form{
        background-color:rgb(22, 20, 20);
        color: whitesmoke;
        min-height: 60vh;
        border-radius: 40px;
        padding: 25px;
    }

    .checkboxes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h2{
        color: white;
        z-index: 3;
    }

    .b-button{
        widows: 100px;
        height: 30px;
    }

    
</style>