<template>
    <div class="main">
        <div class="title"><h2>{{ training[$route.params.id - 1].title }}</h2></div>
        <div class="desc">{{ training[$route.params.id - 1].body }}</div>
        <div class="pics">
            <img src="https://dummyimage.com/400x200/000/fff" alt="" class="pic">
            <img src="https://dummyimage.com/400x200/000/fff" alt="" class="pic">
            <img src="https://dummyimage.com/400x200/000/fff" alt="" class="pic">
        </div>
        <div class="requirements">
          <h3>Требования для тренировки</h3>
         {{ training[$route.params.id - 1] }}
        </div>
        <span>{{ $route.params }}</span>
        <button>Начать тренировку</button>
    </div>
</template>

<script>
export default({
  data () {
    return {
      training: [
        {
        title: 'training1',
        body: 'This is training1',
        spec: {
          sex: ['M','F'],
          IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
          old: [16, 17, 18, 19, 20, 21, 22, 23, 24, 25],
          isSport: true,
          isHeart: false,
          isСripple: false
        }
      },
      {
        title: 'training2',
        body: 'This is training2',
        spec: {
          sex: ['M'],
          IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
          old: [26, 27, 28, 29, 30, 31, 32, 33, 34, 35],
          isSport: false,
          isHeart: true,
          isСripple: false
        }
      },
      {
        title: 'training3',
        body: 'This is training3',
        spec: {
          sex: ['F'],
          IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
          old: [36, 37, 38, 39, 40, 41, 42, 43, 44, 45],
          isSport: false,
          isHeart: false,
          isСripple: true
        }
      },
      {
        title: 'training4',
        body: 'This is training4',
        spec: {
          sex: ['M','F'],
          IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
          old: [46, 47, 48, 49, 50, 51, 52, 53, 54, 55],
          isSport: true,
          isHeart: true,
          isСripple: false
        }
      },
      {
        title: 'training5',
        body: 'This is training5',
        spec: {
          sex: ['M'],
          IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
          old: [56, 57, 58, 59, 60, 61, 62, 63, 64, 65],
          isSport: false,
          isHeart: true,
          isСripple: true
        }
      },
      {
        title: 'training6',
        body: 'This is training6',
        spec: {
          sex: ['F'],
          IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
          old: [66, 67, 68, 69, 70, 71, 72, 73, 74, 75],
          isSport: true,
          isHeart: false,
          isСripple: true
        }
      },
      {
        title: 'training7',
        body: 'This is training7',
        spec: {
          sex: ['M','F'],
          IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
          old: [16, 17, 18, 19, 20, 21, 22, 23, 24, 25],
          isSport: true,
          isHeart: true,
          isСripple: true
        }
      },
      {
        title: 'training8',
        body: 'This is training8',
        spec: {
          sex: ['M'],
          IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
          old: [26, 27, 28, 29, 30, 31, 32, 33, 34, 35],
          isSport: true,
          isHeart: true,
          isСripple: true
        }
      },
      {
        title: 'training9',
        body: 'This is training9',
        spec: {
          sex: ['F'],
          IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
          old: [36, 37, 38, 39, 40, 41, 42, 43, 44, 45],
          isSport: true,
          isHeart: true,
          isСripple: false
        }
      },

        {
        title: 'training10',
        body: 'This is training10',
        spec: {
          sex: ['M','F'],
          IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
          old: [18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
          isSport: false,
          isHeart: true,
          isСripple: true
        }
      },
      ]
    }
  },
  methods: {
    trainingData(){
      this.$emit('trainingData', {trainigData: this.trainig})
    }
  }
})
</script>

<style scoped>
  .desc{
    width:60%;
    text-align: center;
  }
  .main{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>