<template>
  <div class="dev">
    <h2 class="pt-2">Тренировки</h2>
    <b-container>
      <div class="row">
        <div class="col-12 my-2 trainingsDiv" v-for="(item, i) in forthResult" :key="i">
          <router-link class="p-2 d-flex justify-content-left itemHover"
            :to="{ name:'Training', params: {id: item.id}}">
            <div class="field">id: {{ item.id }}</div>
            <div class="field">Название: {{ item.title }}</div>
            <div class="field">Пол: {{ item.spec.sex }}</div>
            <div class="field">Занятия спортом: {{ item.spec.isSport }}</div>
            <div class="field">Сердечные заболевания: {{ item.spec.isHeart }}</div>
            <div class="field">Инвалидность: {{ item.spec.isСripple }}</div>
          </router-link>
        </div>
      </div>
    </b-container>
  </div>
</template>
<script>
  // import api from '@/service/api'

  export default {
    data() {
      return {
        exercises: [],
        training: [{

            title: 'training1',
            id: 1,
            body: '...',
            spec: {
              sex: ['M', 'F'],
              IMT: [36, 37, 38, 39, 40],
              old: [16, 17, 18, 19, 20, 21, 22, 23, 24, 25],
              isSport: true,
              isHeart: false,
              isСripple: false
            }
          },
          {
            title: 'training2',
            id: 2,
            body: '...',
            spec: {
              sex: ['M'],
              IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32],
              old: [26, 27, 28, 29, 30, 31, 32, 33, 34, 35],
              isSport: false,
              isHeart: true,
              isСripple: false
            }
          },
          {
            title: 'training3',
            id: 3,
            body: '...',
            spec: {
              sex: ['F'],
              IMT: [16, 17, 18, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
              old: [36, 37, 38, 39, 40, 41, 42, 43, 44, 45],
              isSport: false,
              isHeart: false,
              isСripple: true
            }
          },
          {
            title: 'training4',
            id: 4,
            body: '...',
            spec: {
              sex: ['M', 'F'],
              IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
              old: [20, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55],
              isSport: true,
              isHeart: true,
              isСripple: false
            }
          },
          {
            title: 'training5',
            id: 5,
            body: '...',
            spec: {
              sex: ['M'],
              IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
              old: [56, 57, 58, 59, 60, 61, 62, 63, 64, 65],
              isSport: false,
              isHeart: true,
              isСripple: true
            }
          },
          {
            title: 'training6',
            id: 6,
            body: '...',
            spec: {
              sex: ['F'],
              IMT: [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
              old: [66, 67, 68, 69, 70, 71, 72, 73, 74, 75],
              isSport: true,
              isHeart: false,
              isСripple: true
            }
          },
          {
            title: 'training7',
            id: 7,
            body: '...',
            spec: {
              sex: ['M', 'F'],
              IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32],
              old: [16, 17, 18, 19, 20, 21, 22, 23, 24, 25],
              isSport: true,
              isHeart: true,
              isСripple: true
            }
          },
          {
            title: 'training8',
            id: 8,
            body: '...',
            spec: {
              sex: ['M'],
              IMT: [16, 17, 18, 20, 21, 22, 23, 24, 34, 35, 36, 37, 38, 39, 40],
              old: [26, 27, 28, 29, 30, 31, 32, 33, 34, 35],
              isSport: true,
              isHeart: true,
              isСripple: true
            }
          },
          {
            title: 'training9',
            id: 9,
            body: '...',
            spec: {
              sex: ['F'],
              IMT: [26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
              old: [36, 37, 38, 39, 40, 41, 42, 43, 44, 45],
              isSport: true,
              isHeart: true,
              isСripple: false
            }
          },

          {
            title: 'training10',
            id: 10,
            body: '...',
            spec: {
              sex: ['M', 'F'],
              IMT: [16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32],
              old: [18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
              isSport: false,
              isHeart: true,
              isСripple: true
            }
          },
        ],
        result: null,
        secondResult: null,
        thridResult: null,
        forthResult: null,
        fiveResult: null
      }
    },
    created() {
      const old = +this.$route.query.old
      let selected = this.$route.query.selected
      const imt = +this.$route.query.imt
      const sport = this.$route.query.sport 
      // const cripple = this.$route.query.cripple
      let heart = this.$route.query.heart
      // console.log(sport)

      this.result = this.training.filter((e)=>{
        return String(e.spec.isSport) == sport
      })
      console.log(this.result)

      this.secondResult = this.result.filter((e)=>{
        return e.spec.sex.join() == selected.join()
      })
      console.log(this.secondResult)
      this.thridResult = this.secondResult.filter((e) => {
        return e.spec.IMT.includes(imt)
      })
      console.log(this.thridResult)
      this.forthResult = this.thridResult.filter((e) => {
        return e.spec.old.includes(old)
      })

       this.fiveResult = this.forthResult.filter((e) => {
        return String(e.spec.old.isHeart) == heart
      })
      
      this.loading = true
    }
  }
</script>

<style scoped>
  .trainingsDiv {
    border: 1px solid white;
  }

  .dev {
    background-color: black;
    color: white;
    min-height: 100vh;
  }

  a {
    color: white;
  }

  .itemHover {
    transition: all 1s;
  }

  .itemHover:hover {
    color: black;
    background-color: white;

  }

  .field{
    padding: 0 5px;
  }
</style>